.about-me-section {
   padding: 125px 0 50px 0;
   .about-section {
      color: #ebebeb;
      h2 {
         font-size: 34px;
         font-weight: bold;
         font-family: 'Nunito', sans-serif;
         margin-bottom: 25px;
      }
      h4 {
         font-size: 18px;
         font-weight: bold;
         font-family: 'Nunito', sans-serif;
         margin-bottom: 15px;
      }
      p {
         font-size: 16px;
         font-weight: 600;
         font-family: 'Nunito', sans-serif;
         line-height: 1.6;
         letter-spacing: 1px;
      }
      img {
         width: 100%;
         margin-bottom: 20px;
      }
   }
   .sidebar-content {
      padding-top: 70px;
      .sidebar-title {
         text-align: center;
         margin-bottom: 20px;
         h3 {
            font-size: 18px;
            color: #ebebeb;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            padding-block: 15px;
            border-top: 1px solid #3f4851;
            border-bottom: 1px solid #3f4851;
         }
      }
      .sidebar-image {
         width: 100%;
         height: 300px;
         background-image: url('../../assets/my-image.jpeg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }
      .sidebar-description {
         margin-block: 20px;
         p {
            font-size: 16px;
            color: #888d93;
            font-family: 'Varela', sans-serif;
            font-weight: 500;
            margin: 0;
         }
      }
      .category-lists {
         display: flex;
         justify-content: space-between;
         margin-block: 20px;
         ul {
            padding: 0;
            margin: 0;
            li {
               color: white;
               list-style: none;
               font-size: 16px;
               font-weight: 600;
               font-family: 'Nunito', sans-serif;
               margin-bottom: 15px;
               transition: all 300ms ease;
               cursor: pointer;
               &:hover {
                  transform: translateX(5px);
                  color: #14ae9c;
               }
            }
         }
      }
      .social-links {
         ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
               list-style: none;
               color: white;
               font-size: 26px;
               margin-inline: 10px;
               cursor: pointer;
               transition: all 300ms ease;
               &:hover {
                  color: #14ae9c;
               }
            }
         }
      }
   }
}